
@import url('https://fonts.googleapis.com/css?family=Poppins');
.container-card{
margin-top: 10px;
margin-left: 150px;
}
.card:hover{
box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}
h1{
font-size: 50px;
font-family: 'Poppins', sans-serif;
}